* {
  box-sizing: border-box;
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  /* background-color: black; */
  color: white;
  word-wrap: break-word;
  word-break: keep-all;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: black;
}

.header {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* -webkit-text-stroke: 2px black; */
  background-image: linear-gradient(0deg, black, #5a5a5a);
  background-repeat: no-repeat;
}

.header .logo-box {
  /* width: 270px; */
  height: 80px;
  /* background-color: royalblue; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 100px;
  font-weight: 700;
}
.header .logo-box .text {
  /* color: black; */
}

.header .logo-box {
}

.top-text {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  margin: 40px 0 50px 0;
}

/* 슬라이더 부분 */
/* .slider-section {
  overflow: hidden;
} */

#slider {
  /* height: 768px; */
  width: 453px;
  margin: 0 auto;
  overflow: hidden;
}

.slide-inner {
  display: flex;
  transition: 1s ease-in-out;
  /* height: 100%; */
  justify-content: center;
}

.slide {
  border-radius: 60px;
}

.button-list {
  text-align: center;
}

.slide-num {
  margin: 0 auto;
  /* padding: 30px; */
}

.slide-num .slide-img {
  width: 453px;
  height: 640px;
  background-color: royalblue;
  border-radius: 40px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* .slide-img::before {
  content: "상세 정보 보기";
  color: black;
  font-size: 30px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: gray;
  top: 0;
  left: 100%;
  transition: all 0.3s;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 2px black;
  background-image: linear-gradient(0deg, black, #f9f7f1);
  background-repeat: no-repeat;
}
.slide-img:hover::before {
  transform: translateX(-100%);
} */
.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-num .slide-info {
  text-align: center;
  position: relative;
}

.slide-info .title {
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
}

.slide-info .rank {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -630px;
  left: 40px;
  background-color: royalblue;
  background: transparent;
  /* border: 2px solid royalblue; */
  width: 80px;
  height: 80px;
  border-radius: 40px;
  position: absolute;
  font-size: 80px;
  font-weight: 700;
  color: white;
}
.rank .numb {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}
/* .rank .top {
  position: absolute;
  background: transparent;
  /* top: -px; */

/* slide btn */

.button-list {
  position: relative;
}

.button-left {
  width: 100px;
  height: 100px;
  position: absolute;
  /* padding: 50px; */
  color: white;
  font-size: 30px;
  line-height: 1;
  background: transparent;
  border: 2px solid white;
  top: 350px;
  right: 80%;
  border-radius: 100%;
  z-index: 9;
}

.button-right {
  width: 100px;
  height: 100px;
  position: absolute;
  /* padding: 50px; */
  font-size: 30px;
  color: white;
  border: 2px solid white;
  background: transparent;
  top: 350px;
  left: 80%;
  border-radius: 100px;
  z-index: 9;
}

section.inner {
  width: 1280px;
  margin: 130px auto 130px;
}

/* filter - form */
.filter-form {
  display: flex;
  margin-bottom: 10px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter .filter-name {
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
}

.filter .filter-select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.filter .filter-select div {
  margin: 0 10px 0;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.filter .filter-select div:hover {
  color: white;
}

.filter-form .search-box {
  margin-left: auto;
}

.filter-form .search-box .search-input {
  width: 460px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 0 0 22px;
  font-size: 24px;
  font-weight: 400;
}

.filter-form .search-box .search-input:focus {
  outline: none;
}

.filter-form .search-box .search-btn {
  width: 140px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 26px;
  font-weight: 400;
  margin-left: 30px;
}

.filter-form .search-box .search-btn:hover {
  background-color: royalblue;
}

/* Card Container */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 290px));
  gap: 40px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  overflow: hidden;
}

.movie-card .card-poster {
  border-radius: 10px;
  overflow: hidden;
  /* cursor: pointer; */
  position: relative;
}

/* .card-poster::before {
  content: "상세 정보 보기";
  color: black;
  font-size: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: gray;
  top: 0;
  left: 100%;
  transition: all 0.3s;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 2px black;
  background-image: linear-gradient(0deg, black, #f9f7f1);
  background-repeat: no-repeat;
}
.card-poster:hover::before {
  transform: translateX(-100%); */
/* } */

.view-btn {
  width: 100%;
  height: 80%;
  bottom: 0px;
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 10%,
    rgba(20, 20, 20, 0.25) 25%,
    rgba(20, 20, 20, 0.5) 50%,
    rgba(20, 20, 20, 0.75) 75%,
    rgba(20, 20, 20, 1) 100%
  );
  opacity: 0.8;
  display: none;
}
.like-btn-slide {
  position: absolute;
  text-align: center;
  padding: 0 30px;
  border-radius: 40px;
  width: 200px;
  height: 60px;
  font-size: 24px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  bottom: 105px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}

.like-btn-slide:hover {
  transition: transform 0.1s linear;
  transform: translateY(-5px) translateX(-50%);
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.like-btn-slide p {
  color: royalblue;
}

.like-btn-slide .like-num {
  margin-left: 5px;
}

.like-btn {
  position: absolute;
  text-align: center;
  padding: 0 30px;
  border-radius: 40px;
  width: 200px;
  height: 60px;
  font-size: 24px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  bottom: 105px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}

.like-btn:hover {
  transition: transform 0.1s linear;
  transform: translateY(-5px) translateX(-50%);
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.like-btn p {
  color: royalblue;
}

.like-btn .like-num {
  margin-left: 5px;
}

.go-detail {
  position: absolute;
  text-align: center;
  padding: 0 30px;
  border-radius: 40px;
  width: 200px;
  height: 60px;
  font-size: 22px;
  background-color: royalblue;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}

.go-detail:hover {
  transition: transform 0.1s linear;
  transform: translateY(-5px) translateX(-50%);
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.card-poster img {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.movie-card .card-title {
  margin-top: 30px;
  font-size: 32px;
  font-weight: 700;
}

.movie-card .card-rating {
  margin-top: 10px;
  font-size: 24px;
}

.recent-search-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 1280px;
  margin-bottom: 50px;
}

.search-item-box {
  margin-right: 15px;
}

.search-delete-btn {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
