* {
  box-sizing: border-box;
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  background-color: black;
  color: white;
}

.header {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo-box {
  width: 270px;
  height: 80px;
  background-color: royalblue;
}

.top-text {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}

/* 슬라이더 부분 */
/* .slider-section {
  overflow: hidden;
} */

#slider {
  /* height: 768px; */
  margin: 0 auto;
  overflow: hidden;
}

.slide-inner {
  display: flex;
  transition: 1s ease-in-out;
  height: 100%;
  justify-content: center;
}

.slide {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 60px;
}

.button-list {
  text-align: center;
}

.slide-num {
  margin: 0 auto;
  padding: 30px;
}

.slide-num .slide-img {
  width: 453px;
  height: 640px;
  background-color: royalblue;
  border-radius: 40px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}

.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-num .slide-info {
  text-align: center;
}
.slide-info .title {
  text-align: center;
  margin-top: 34px;
  font-size: 32px;
  font-weight: 700;
}
.slide-info .rating {
  margin: 10px auto 0;
  font-size: 28px;
  color: white;
}

/* slide btn */
.movie-img {
  cursor: pointer;
}

.button-list {
  position: relative;
}
.button-left {
  position: absolute;
  padding: 50px;
  color: white;
  border: 2px solid white;
  top: 350px;
  left: 100px;
  border-radius: 100px;
}
.button-right {
  position: absolute;
  padding: 50px;
  color: white;
  border: 2px solid white;

  top: 350px;
  right: 100px;
  border-radius: 100px;
}

section.inner {
  width: 1280px;
  margin: 130px auto 130px;
}

/* filter - form */
.filter-form {
  display: flex;
  margin-bottom: 60px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter .filter-name {
  font-size: 32px;
  font-weight: 700;
}

.filter .filter-select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.filter .filter-select div {
  margin: 0 10px 0;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.filter .filter-select div:hover {
  color: white;
}

.filter-form .search-box {
  margin-left: auto;
}

.filter-form .search-box .search-input {
  width: 460px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 0 0 22px;
  font-size: 24px;
  font-weight: 400;
}

.filter-form .search-box .search-input:focus {
  outline: none;
}

.filter-form .search-box .search-btn {
  width: 140px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 26px;
  font-weight: 400;
  margin-left: 30px;
}

.filter-form .search-box .search-btn:hover {
  background-color: royalblue;
}

/* Card Container */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 290px));
  gap: 40px;
}
.movie-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  overflow: hidden;
}

.movie-card .card-poster {
  border-radius: 10px;
  overflow: hidden;
}

.card-poster img {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.movie-card .card-title {
  margin-top: 30px;
  font-size: 32px;
  font-weight: 700;
}
.movie-card .card-rating {
  margin-top: 10px;
  font-size: 24px;
}
