* {
  box-sizing: border-box;
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  background-color: black;
  color: white;
}

.header {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo-box {
  width: 270px;
  height: 80px;
  background-color: royalblue;
}

.movie-title {
  margin: 0px auto 37px;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
}

/* movie detail */

.movie-detail {
  width: 1084px;
  display: flex;
  margin: 0 auto;
}

.movie-detail .movie-poster {
  width: 453px;
  height: 640px;
  border-radius: 40px;
  overflow: hidden;
}

.movie-detail .movie-poster img {
  width: 100%;
}

.movie-detail .movie-info {
  margin-left: 50px;
  width: 581px;
}

.movie-detail .movie-info .popular,
.movie-detail .movie-info .release,
.movie-detail .movie-info .production {
  /* display: flex; */
  margin-bottom: 30px;

  /* height: 40px; */
}
.movie-info p {
  display: inline;
}

.movie-detail .movie-info .category {
  width: 120px;
  font-size: 24px;
  height: 35px;
}
.movie-detail .movie-info .value {
  margin-left: 30px;
  font-size: 24px;
}

.movie-detail .movie-info .overview {
  font-size: 24px;
}

.movie-detail .movie-info .genre {
  margin-top: 30px;
  display: flex;
}

.movie-detail .movie-info .genre div {
  padding: 12px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}

.tag-line {
  margin: 76px 0;
  text-align: center;
}

.tag-line .tag-line-text {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  font-size: 32px;
  z-index: 9;
  /* background: linear-gradient();
   */
  filter: opacity(0.7);
}

.money-info {
  text-align: center;
}
.money-info .title {
  font-size: 32px;
}
